body{
    background-image: url(Bilder/12804207_5073414.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.ab {
    font-family: Georgia, serif;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fffdfd;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
    }

.bild{
    max-width: 250%;
    height: 250px;
    margin: 0 auto;
    padding-left: 55%;
 
    
}
.text {
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fffdfd;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
    }

    .bild1{
    max-width: 250%;
    height: 250px;
    margin: 0 auto;
    padding-left: 20%;
    
}



.bild2{
    max-width: 250%;
    height: 250px;
    margin: 0 auto;
    padding-left: 20%;
    
}
.button {
    text-align: center;
    font-size: 30px;
    color: hotpink;
    padding: 50px 50px;
    margin: 50px 50px;
    border-radius: 10px;
    
   }

   .links {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den Elementen */
    align-items: center; /* Zentrierung der Elemente vertikal */
    flex-wrap: wrap; /* Umbruch, wenn nicht genug Platz vorhanden ist */
}

.links a {
    margin:  25px; /* horizontaler Abstand zwischen den Bildern */
}