/*Hintergrund*/
body {
    background: #A4472C;
    background: -moz-linear-gradient(left, #A4472C 0%, #2F2F2F 0%, #BE0E40 100%);
    background: -webkit-linear-gradient(left, #A4472C 0%, #2F2F2F 0%, #BE0E40 100%);
    background: linear-gradient(to right, #A4472C 0%, #2F2F2F 0%, #BE0E40 100%);
}

/*das Bild*/
img {
    height: 180px;
    padding-left: 45%;

}


/*Überschrift*/
h1 {
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background: #ECEFCF;
    text-align: center;
}

/*Text*/
.text-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: grey;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 50%;
    justify-content: center;
}

.steck {
    display: flex;
    justify-content: center;
}

.text-item {
    padding: 80px;
    text-align: center;
}

/*Buttons*/
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    box-sizing: border-box;
    font-size: 30px;
    animation: container 3s;
}

.container:hover {
    animation: none;
    color: #fff;
}

@keyframes container {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 50px;
    padding: 50px;
    overflow: hidden;

}