/* Hintergrund */
body {
    background-image: url(https://free4kwallpapers.com/uploads/originals/2015/07/26/abstract-wallpaper-1920x1080.jpg);
    background-size: cover;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140vh;
    margin: 0;
    font-family: "Cagliostro";

}
   
/* das Bild */
.MeinBild{
    max-width: 300%;
    height: 400px;
    margin: 0 auto;
    padding-left: 45%;
    
}

.lala {
    
    justify-content: center;
    padding: 60px;
    width: 20%;
    height: 30%;
    border-radius: 100%;
    

}

/* Überschrift */
h1 {
    background-color: rgba(128, 128, 128, 0.491);
    margin: 0 auto;
    border-radius: 30px;
    max-width: 45%;
    text-align: center;
    font-family: "Shantell Sans", cursive;
    font-size: 35px;
}

/* Text */
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
    color: rgba(128, 128, 128, 0.941);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.653);
    border-radius: 30px;
    max-width: 80%; 
    margin: 0 auto; 
    text-align: center;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    font-family: "Shantell Sans", cursive;
}

.steck {
    display: flex;
    justify-content: center;
}

.text-item {
    padding: 20px; 
    text-align: center;
}

/* Buttons */
.container {
    font-family: "monsterat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 35px; 
    font-size: 22px;
}

ul {
    list-style-type: none;
    margin: 10px; 
    padding: 25px; 
    overflow: hidden;
}