/*Hintergrund*/
body {
    background-image: url(./Bilder/welt.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140vh;
    margin: 0;
}


/*Schrift*/
h1 {

    color: hotpink;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.444),
        0 0 10px rgba(255, 255, 255, 0.329);
    text-align: center;
    font-size: 60px;
}

a {
    font-size: 35px;
    color: rgb(255, 10, 133);
    text-decoration: none;
    text-align: center;
}

.ende {
    font-size: 30px;
    color: black;
    text-decoration: none;
    text-align: center;

}

/*video link*/

.video-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video-link {
    background-color: #318cbc8a;
    padding: 60px;
    border-radius: 6px;
    text-align: center;
    width: 30%;
    max-width: 40px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    box-sizing: border-box;
    font-size: 22px;
    ;
}

.music {
    border-radius: 90%;
    width: 100%;
    height: 300px
}


/*Bilder*/
.image-container {

    display: flex;
    animation: slide-top;



}

.image-container img {
    max-width: 60%;
    height: 150px;
    margin-right: 15px;
    animation-name: kid;
    animation-duration: 5s;
    border-radius: 60%;

}

@keyframes kid {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}