/*Der hintergrund*/
body {
    background-image: url(Bilder/spiel1.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    
    /*überschrift*/
    h1{
        color: rgba(255, 255, 255, 0.348);
        text-align: center;
        font-size: 60px;
    }
    
    div,
h3 {
  color: rgba(255, 255, 255, 0.561);
    font-size: 20px;
    margin-top: 5px;
    padding-top: 5px;
    width: 40%;
}

h3 {
    text-align: center;
    font-size: 30px;
    width: 100%;
}
    
    /*Bilder in der richtigen reinfolge*/
.right {
    float: right;
    text-align: center; 
    border-radius: 50%;   
}

.left {
    float: left;
    text-align: center;
    border-radius: 50%;
}

img {
    min-width: 350px;
    height: 20vh;
    width: 20%;
    max-height: 30%;
    margin-left: 15%;
    margin-right: 15%;

}

   /*buttons*/
.button {
    text-align: center;
    font-size: 28px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    animation: hover 3s infinite;
}

a {
    color: hotpink;
}

@keyframes hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
} 