/*Der hintergrund*/
body {
    background-image: url(https://w.forfun.com/fetch/59/59511940defb67eed80d8e29a05d2da1.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 140vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

/*überschrift*/
h1 {
    color: rgba(255, 255, 255, 0.679);
    text-align: center;
    font-size: 60px;
}

h3 {
    color: rgba(255, 255, 255, 0.561);
    font-size: 30px;
    margin-top: 5px;
    padding-top: 5px;
    width: 40%;
}
h3 {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.p {
    color: gray;
    font-size: 25px;
    margin-top: 5px;
    padding-top: 5px;
    width: 35%;

}

/* Die Bilder sollen größer werden  */
img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: 5px;
}

/*buttons*/
.button {
    text-align: center;
    font-size: 30px;
    color: hotpink;
    margin-bottom: 90px;
}